#folders
_main_venv/
.agents/
.antigravity-ide-server/
.cache/
.claude/
.config/
.copilot/
.dotnet/
.duckdb/
.gemini/
.ipython/
.local/
.npm/
.nv/
.pki/
.ssh/
.vscode/
.vscode-server/
__pycache__/
snap/
yfinance_packages/

#files
.bash_history
.bash_logout
.bashrc
.lesshst
.profile
.python-history
.wget-hsts

#file formats
*.png
*.parquet

#ignore kronos model
Kronos-base/
Kronos-Tokenizer-base/